@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

body {
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    
  }

.h11 {
      font-size: x-large;
      font-weight: bolder;
      font-style: italic;
      text-align: center;
    
  }

.name {
    font-style: italic;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 12px;
    justify-content: center;
    text-align: left;
    margin-top: 12px;
    max-width: 100%;
}

.series1 {
    border: 2px solid rgb(0, 0, 0);
    max-width: 100%;
    border-radius: 12px;
}

<<<<<<< HEAD


=======
>>>>>>> a32cd82624f596becbe6935d31a0090666e56497
